<div class="dash">
  <h2>Dashboard</h2>

  <div class="note">
    <div class="note-item">
      <lucide-icon [img]="AlertIcon" size="16"></lucide-icon>
      <span>ถ้า token หมดอายุ <b>401</b> Interceptor จะ <b>refresh</b> และ <b>retry</b> ให้อัตโนมัติ</span>
    </div>
  </div>


  <button (click)="loadAll()" [disabled]="loading()">
    <lucide-icon [img]="ReloadIcon" size="16"></lucide-icon>
    Reload
  </button>

  <p *ngIf="loading()" class="muted" style="margin-top:10px">Loading...</p>

  <p *ngIf="error()" class="error">
    {{ error() }}
  </p>

  <!-- USER CARD -->
  <div class="card" *ngIf="me() as u">
    <div class="row">
      <div class="k">
        <lucide-icon [img]="UserIcon" size="14"></lucide-icon>
        User
      </div>
      <div class="v">{{ u.name }}</div>
    </div>

    <div class="row">
      <div class="k">
        <lucide-icon [img]="MailIcon" size="14"></lucide-icon>
        Email
      </div>
      <div class="v">{{ u.email }}</div>
    </div>

    <div class="row">
      <div class="k">
        <lucide-icon [img]="RoleIcon" size="14"></lucide-icon>
        Roles
      </div>
      <div class="v">{{ u.roles.join(', ') }}</div>
    </div>
  </div>

  <!-- SUMMARY CARD -->
  <div class="card" *ngIf="summary() as s">
    <div class="row">
      <div class="k">
        <lucide-icon [img]="StatusIcon" size="14"></lucide-icon>
        Status
      </div>
      <div class="v ok">{{ s.status }}</div>
    </div>

    <div class="row">
      <div class="k">
        <lucide-icon [img]="UsersIcon" size="14"></lucide-icon>
        Active Users
      </div>
      <div class="v">{{ s.activeUsers }}</div>
    </div>

    <div class="row">
      <div class="k">
        <lucide-icon [img]="ServerIcon" size="14"></lucide-icon>
        Mode
      </div>
      <div class="v">{{ s.mode }}</div>
    </div>

    <div class="row">
      <div class="k">
        <lucide-icon [img]="ClockIcon" size="14"></lucide-icon>
        Server Time
      </div>
      <div class="v">{{ s.serverTime }}</div>
    </div>
  </div>
</div>
